/* font Inter */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
/* simplifica o tamanho mais simples */
*,
*::before,
*::after {
	box-sizing: border-box;
}

/* Remove o espaçamento padrão */
/* estilo de fonte através do estilo, em vez de elementos */
* {
	margin: 0;
	padding: 0;
	font: inherit;
}

/* Modo escuro-estilo agente-agente */
html {
	min-width: 22rem;
	/* color-scheme: dark light; */
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
	color: inherit;
}

/* Imagens/vídeos responsivos */
img,
picture,
svg,
video {
	display: block;
	max-width: 100%;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
	color: inherit;
}

/* Imagens/vídeos responsivos */
img,
picture,
svg,
video {
	display: block;
	max-width: 100%;
}

input,
textarea,
select,
button {
	border: none;
	background: none;
	cursor: pointer;
}

input:focus,
textarea:focus,
select:focus,
button:focus {
	outline: none;
}

/* variáveis */

:root {
	--clr-primary: hsl(210, 90%, 45%);
	--clr-primary-light: hsl(210, 90%, 65%);
	--clr-primary-dark: hsl(210, 90%, 25%);
	--clr-accent: hsl(330, 90%, 45%);
	--clr-white: hsl(0, 0%, 100%);
	--clr-black: hsl(0, 0%, 0%);
	--clr-success: hsl(150, 50%, 45%);
	--clr-danger: hsl(350, 50%, 45%);
	--clr-warning: hsl(50, 90%, 45%);
	--clr-gray-100: hsl(0, 0%, 95%);
	--clr-gray-200: hsl(0, 0%, 85%);
	--clr-gray-300: hsl(0, 0%, 80%);
	--clr-gray-500: hsl(0, 0%, 65%);
	--clr-shadow: hsla(0, 0%, 0%, 0.2);
	--border-radius: 0.25em;
}

body {
	font-family: "Inter", sans-serif;
	line-height: 1.5;
	min-height: 100vh;
	display: grid;
	grid-template-columns: [page-start] fit-content(15rem) [content-start] auto [page-end];
	grid-template-rows: [page-top] auto [main-start] 1fr [footer-start] auto [page-bottom];
}

/* Headings */
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 900;
}

h1 {
	font-size: 2.5rem;
}

h2 {
	font-size: 2rem;
}

h3 {
	font-size: 1.75rem;
}

h4 {
	font-size: 1.5rem;
}

h5 {
	font-size: 1.25rem;
}

h6 {
	font-size: 1rem;
}

/* utils */

.align-right {
	text-align: right;
}

/* buttons */

.btn {
	display: inline-block;
	padding: 0.5em 1em;
	border-radius: var(--border-radius);
	font-weight: 500;
	box-shadow: 0 0 0 100vmax inset rgb(0 0 0 / var(--o, 0%));
	transition: 0.4s;
	color: var(--clr-white);
}

.btn:hover,
.btn:focus {
	--o: 40%;
}

.btn__small {
	font-size: 0.875rem;
}

.btn__large {
	font-size: 1.25rem;
}

.btn__white {
	color: var(--clr-black);
}

.btn__black {
	background: var(--clr-black);
}

.btn__primary {
	background: var(--clr-primary);
}

.btn__success {
	background: var(--clr-success);
}

.btn__danger {
	background: var(--clr-danger);
}

.btn__warning {
	background: var(--clr-warning);
}

/* sidebar */

.sidebar-menu {
	display: flex;
	flex-direction: column;
	width: 0;
	grid-column: page-start/content-start;
	grid-row: page-top/page-bottom;
	transition: width 0.5s ease-in-out;
	align-self: start;
}

.nav__open {
	width: 15em;
	position: sticky;
	top: 0;
}

/* navbar */
.nav-title {
	padding-block: 1.8em;
	min-height: 4em;
	display: flex;
	align-items: center;
	justify-content: center;
}

.nav-list {
	display: flex;
	flex-direction: column;
}

.nav-item > .nav-link {
	display: flex;
	justify-content: start;
	align-items: start;
	padding: 1em 1.5em;
}

.nav-item > .nav-link > i {
	font-size: 1.2rem;
	margin-right: 0.5em;
}

.nav-link {
	padding-left: 0.5em;
	font-size: 1.125rem;
	transition: opacity 0.4s ease-in-out;
}

.nav-item:hover,
.nav-item:focus,
.nav-item.active {
	background: var(--clr-primary);
	border-bottom: 2px solid var(--clr-accent);
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: var(--clr-gray-100);
	min-width: 14rem;
	box-shadow: 0px 8px 16px 0px var(--clr-shadow);
	z-index: 1;
}

.dropdown-content .nav-item:hover {
	background: var(--clr-primary);
}

.dropdown-show {
	margin-top: 1.2em;
	width: 15em;
	left: 0;
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

/* header */

.header {
	min-height: 4rem;
	background: var(--clr-white);
	grid-column: content-start/page-end;
	grid-row: page-top/main-start;
	position: sticky;
	top: 0;
}

.header-content {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 2rem;
	min-height: 4rem;
}

.logo {
	font-size: 23px;
	letter-spacing: -1.5;
	font-weight: 500;
}

/* breadcrumbs */

.breadcrumbs {
	padding: 1em 2em;
	display: flex;
	align-items: center;
	border-block: 1px solid var(--clr-gray-200);
}

.breadcrumbs > *:not(:last-child)::after {
	padding: 0 0.5rem;
	content: "/";
}

.breadcrumbs > *:last-child {
	color: var(--clr-gray-300);
	pointer-events: none;
}

.main-content {
	padding: 1rem 2rem;
	background: var(--clr-gray-100);
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
	grid-column: content-start/page-end;
	grid-row: main-start/footer-start;
}

footer {
	max-height: 4rem;
	display: flex;
	justify-content: center;
	align-items: center;
	grid-column: content-start/page-end;
	grid-row: footer-start/page-bottom;
}

/* cards */

.card {
	background-color: var(--clr-white);
	box-shadow: 0 0 1rem var(--clr-shadow);
	border-radius: var(--border-radius);
}

.card__header {
	border-bottom: 1px solid var(--clr-gray-200);
	padding: 0.5em 2em;
}

.card__content {
	padding: 1em 2em;
}

/* forms */

.form-wrapper {
	min-width: 500px;
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 1.25rem;
}

.form-group {
	display: grid;
	gap: 0.5rem;
}

.form-group > label:has(+ input:required)::after {
	content: " *";
	color: var(--clr-danger);
}

.form-group > label:has(+ input:required:valid)::after {
	content: " ✓";
	color: var(--clr-success);
}

.form-group__full-width {
	grid-column: 1 / -1;
}

.form-group__full-width textarea {
	min-height: 150px;
}

.form-group > label {
	font-size: 0.875rem;
}

.form-group > input,
.form-group > textarea {
	cursor: text;
	padding: 0.5em 1em;
	border: 1px solid var(--clr-gray-200);
	border-radius: var(--border-radius);
	font-size: 1rem;
}

.form-group > input:focus,
.form-group > textarea:focus {
	border-color: var(--clr-primary);
	outline-color: var(--clr-primary);
	outline-offset: 0;
}

.form-group > input:hover,
.form-group > textarea:hover {
	border-color: var(--clr-primary);
	outline-color: var(--clr-primary);
	outline-offset: 0;
}

.form-group > input::placeholder,
.form-group > textarea::placeholder {
	color: var(--clr-gray-300);
}

.form-group > input.input__valid,
.form-group > textarea.input__valid {
	border-color: var(--clr-success);
}

.form-group > input.input__invalid,
.form-group > textarea.input__invalid {
	border-color: var(--clr-danger);
}

.form-group > .input__error {
	color: var(--clr-danger);
	font-size: 0.875rem;
}

.form-group > .form-control {
	display: grid;
	grid-template-columns: 1em auto;
	gap: 0.5em;
}

.form-group > .form-control + .form-control {
	margin-top: 1em;
}

.form-group > .form-control--disabled {
	color: var(--clr-gray-500);
	cursor: not-allowed;
}

.form-group > .form-control > input[type="checkbox"] {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	margin: 0;
	font: inherit;
	color: var(--clr-primary);
	width: 1.5rem;
	height: 1.5rem;
	border: 1px solid var(--clr-gray-300);
	border-radius: 0.1em;
	transform: translateY(-0.075em);
	display: grid;
	place-content: center;
}

.form-group > .form-control > label {
	margin-left: 0.5em;
}

.form-group > .form-control > input[type="checkbox"]::before {
	content: "";
	width: 1em;
	height: 1em;
	-webkit-clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
	clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
	transform: scale(0);
	transform-origin: bottom left;
	transition: 120ms transform ease-in-out;
	box-shadow: inset 1.5em 1.5em var(--clr-primary);
	background-color: CanvasText;
}

.form-group > .form-control > input[type="checkbox"]:checked::before {
	transform: scale(1);
}

.form-group > .form-control > input[type="checkbox"]:checked,
.form-group > .form-control > input[type="checkbox"]:hover {
	border: 1px solid var(--clr-primary);
}

.form-group > .form-control > input[type="checkbox"]:focus {
	outline: max(2px, 0.15em) solid var(--clr-primary);
	outline-offset: max(2px, 0.15em);
}

.form-group > .form-control > input[type="checkbox"]:disabled {
	--clr-primary: var(--clr-gray-300);
	color: var(--clr-gray-300);
	cursor: not-allowed;
}

.form-group > .form-control > input[type="radio"] {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background-color: var(--clr-gray-100);
	margin: 0;
	font: inherit;
	color: var(--clr-primary);
	width: 1.5em;
	height: 1.5em;
	border: 0.15em solid var(--clr-gray-300);
	border-radius: 50%;
	transform: translateY(-0.075em);
	display: grid;
	place-content: center;
}

.form-group > .form-control > input[type="radio"]::before {
	content: "";
	width: 1em;
	height: 1em;
	border-radius: 50%;
	transform: scale(0);
	transition: 120ms transform ease-in-out;
	box-shadow: inset 1em 1em var(--clr-primary);
	background-color: CanvasText;
}

.form-group > .form-control > input[type="radio"]:checked::before {
	transform: scale(1);
}

.form-group > .form-control > input[type="radio"]:hover,
.form-group > .form-control > input[type="radio"]:checked {
	border: 0.15em solid var(--clr-primary);
}

.form-group > .form-control > input[type="radio"]:focus {
	outline: max(2px, 0.15em) solid var(--clr-primary);
	outline-offset: max(2px, 0.15em);
}

.form-group > .switch > input[type="checkbox"] {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	height: 1.5rem;
	width: 2.5rem;
	outline: max(1px, 0.15em) solid var(--clr-gray-200);
	background-color: var(--clr-gray-100);
	position: relative;
	border-radius: 0.2em;
	cursor: pointer;
}

.form-group > .switch > input[type="checkbox"]::before {
	content: "";
	display: block;
	height: 1.4em;
	width: 1.4em;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	position: absolute;
	top: 50%;
	left: calc(1.3em / 2.5 + 0.2em);
	background-color: var(--clr-danger);
	border-radius: 0.2em;
	-webkit-transition: 0.3s ease;
	transition: 0.3s ease;
}

.form-group > .switch > input[type="checkbox"]:hover {
	outline: max(1px, 0.15em) solid var(--clr-danger);
}

.form-group > .switch > input[type="checkbox"]:checked {
	outline: max(1px, 0.15em) solid var(--clr-success);
}

.form-group > .switch > input[type="checkbox"]:checked::before {
	background-color: var(--clr-success);
	left: calc(100% - (1em / 2 + 0.3em));
}

.form-group > select {
	height: 2.5rem;
	border: 1px solid var(--clr-gray-300);
	border-radius: var(--border-radius);
}

.form-group > select:hover,
.form-group > select:focus {
	border-color: var(--clr-primary);
}

/* hamburger */
.hamburger {
	margin-block: 2em;
	min-width: 2em;
}

.hamburger-menu {
	background-color: transparent;
	border: none;
	cursor: pointer;
	display: flex;
	padding: 0;
}

.hamburger-menu-line {
	fill: none;
	stroke: var(--clr-black);
	stroke-width: 6;
	transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
		stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hamburger-menu-line-1 {
	stroke-dasharray: 60 207;
	stroke-width: 6;
}

.hamburger-menu-line-2 {
	stroke-dasharray: 60 60;
	stroke-width: 6;
}

.hamburger-menu-line-3 {
	stroke-dasharray: 60 207;
	stroke-width: 6;
}

.hamburger-menu-opened .hamburger-menu-line-1 {
	stroke-dasharray: 90 207;
	stroke-dashoffset: -134;
	stroke-width: 6;
}

.hamburger-menu-opened .hamburger-menu-line-2 {
	stroke-dasharray: 1 60;
	stroke-dashoffset: -30;
	stroke-width: 6;
}

.hamburger-menu-opened .hamburger-menu-line-3 {
	stroke-dasharray: 90 207;
	stroke-dashoffset: -134;
	stroke-width: 6;
}

/* table */
.table {
	margin: 0 0 40px 0;
	width: 100%;
	box-shadow: 0 1px 3px var(--clr-shadow);
	display: table;
}

.table-row {
	display: table-row;
}

.table-row:nth-of-type(odd) {
	background: var(--clr-gray-100);
}

.table-row.table-header {
	font-weight: 900;
}

.table-row.table-header {
	padding: 0;
	height: 6px;
}

.table-row.table-header .table-cell {
	display: none;
}

.table-row .table-cell {
	margin-bottom: 10px;
}

.table-row .cell:before {
	margin-bottom: 3px;
	content: attr(data-title);
	min-width: 98px;
	font-size: 10px;
	line-height: 10px;
	font-weight: bold;
	text-transform: uppercase;
	color: var(--clr-gray-500);
	display: block;
}

.table-cell {
	padding: 6px 12px;
	display: table-cell;
}

@media (max-width: 45rem) {
	.contact-form {
		grid-template-rows: 1fr 1fr;
	}

	/* table */
	.table {
		display: block;
	}

	.table-row {
		padding: 14px 0 7px;
		display: block;
	}

	.table-cell {
		padding: 2px 16px;
		display: block;
	}
}
